<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Quiz List</h1>

        <table>
            <thead>
                <tr>
                <th scope="col">title</th>
                <th scope="col">answer1</th>
                <th scope="col">answer2</th>
                <th scope="col">correct_answer</th>
                </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.text }}</td>
                <td>{{ task.answer1 }}</td>
                <td>{{ task.answer2 }}</td>
                <td>{{ task.correct_answer }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <p><a href="{% url 'templates' %}">Top</a></p>
    </body>
</html>