<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <title>クイズゲーム</title> 
</head>

<body>
    <h1>問題<br>日本で一番高い山は何？</h1>
    {{ question_text }}
    {{ content }}
    <br/>
    <table>
        <td>富士山</td>
    </table>
    <form action="{% url 'move_to_seikaipage' %}" method="post">
        {% csrf_token %}
        →
        <!--<input type="image" src="{% static "app/button/start_button.png" %}" name="start_button"> -->
        <!--<input type="button" name="start_button">-->
        <input type="image" src="{% static "app/button/start_button.png" %}" name="start_button">
    </form>

<br>

    <table>
        <td>阿蘇山</td>
    </table>
    <form action="{% url 'move_to_fuseikaipage' %}" method="post">
        {% csrf_token %}
        →
        <input type="image" src="{% static "app/button/start_button.png" %}" name="start_button"> 
    </form>
</body>
</html>