<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <meta charset="utf-8" />
    <title>Q-easy</title> 
</head>

<body>
    <h4><a href="{% url 'create' %}">問題追加</a></h4>
<h1>
    問題<br>{{question.text}}
    <br/>
    <br/>
    <br/>
    {% if question.correct_answer == 1 %}
        ①<a href="{% url 'move_to_seikaipage' %}">{{question.answer1}}</a>

        ②<a href="{% url 'move_to_fuseikaipage' %}">{{question.answer2}}</a>


    {% else %}
        ①<a href="{% url 'move_to_fuseikaipage' %}">{{question.answer1}}</a>
        
        ②<a href="{% url 'move_to_seikaipage' %}">{{question.answer2}}</a>


    {% endif %}
</h1>
</body>
</html>