<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <meta charset="utf-8" />
    <title>クイズゲーム</title> 
</head>

<body>
    <h4><a href="{% url 'create' %}">問題追加</a></h4>
    <h1>問題<br>{{question.text}}</h1>
    <br/>
<h2>
    <table>
        <td>{{question.answer1}}</td>
    </table>
    {% if question.correct_answer == 1 %}
        →<a href="{% url 'move_to_seikaipage' %}">select</a>
        <table>
            <td>{{question.answer2}}</td>
        </table>
        →<a href="{% url 'move_to_fuseikaipage' %}">select</a>
    {% else %}
        →<a href="{% url 'move_to_fuseikaipage' %}">select</a>
        <table>
            <td>{{question.answer2}}</td>
        </table>
        →<a href="{% url 'move_to_seikaipage' %}">select</a>
    {% endif %}
</h2>
</body>
</html>